* {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-decoration: none;
}

body {
    background-color:#f6f7f9;

}

.dados-pessoais, .endereco, .contato, .objetivo-profissional, .formacao-academica {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

h3, h4, h5 {
    color: black;
}

.cancelar, .salvar {
    font-size: 14px;
    font-weight: bold;
}

/* Para todos */
label{
    color: black;
}

select {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    padding-right: 2px;
    color: black;
}

input {
    height: 35px;   
}

option {
    color: black;
}


/* header */
header {
    height: 80px;
    background: #343A40;
    font-family: 'Montserrat', sans-serif;
}

.principal {
    color: 1px solid #FFF;
    margin: 0 auto;
    line-height: 50px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
}

.logo a{
    text-decoration: none;
    color: white;
    
}

nav {
    margin: auto 120px;
    display: inline-block;
}

nav ul li {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
  
}

nav ul li a {
    color: #03BBDB; 
    padding: 5px;
}

nav ul li a:hover {
    color: #FFF;
    background-color: #03BBDB;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.logout li{
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}

.logout li a {
    color: #03BBDB; 
    padding: 5px; 
}

.logout li a:hover{
    color: #FFF;
    background-color: #03BBDB;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.user {
    font-size: 16px;
    background-color: #F7F5F5;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    color: #03BBDB;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Dados Pessoais */
.fundo {
    background-image: url("/assets/img/quebracabeca.jpg");
    background-size: cover;
    height: 180px;
    margin-top: 50px;
}

.foto img{
    width: 170px;
    height: 160px;
    border-radius: 100%;
    border: 3px solid #f1eeee;
    object-fit: cover;
    bottom: 45%;
    margin-left: 20px;
    position: absolute;
    z-index: 5;
}  

.editar-foto {
    padding-left: 170px;
    font-size: small;
}

.editar-foto > input {
    color: black;
}


.estadoCivil {
    color: black;
}


.estadoCivil > select {
    width: 430px;
}

/* Contato */
.redes-sociais img{
    width: 25px;
}


/* Profissional */
.areasInteresses > select {
    width: 100%;
}

.termino {
    margin-left: 102px;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #343A40;
    font-family: Montserrat;
    font-size: 12px;
    display: inline-block;
    
}

/* Home candidato */

.home_name{
    padding-top: 65px;
    padding-left: 25px;
}

.homeCandidato{
    background-image: url("/assets/img/estrada.jpg");
    background-size: cover;
}

.escolha{
    padding-top: 100px;
}

.escolha > p{
    color: black;
    font-family: fantasy;
    font-size: 50px;

}

.caminhoCurriculo{
    padding-top: 130px;
    padding-bottom: 200px;
}

.linkCurriculo > a{
    color: black;
    font-size: 20px;
    background-color: rgb(206, 205, 205);
    border-radius: 10px;
}

.linkCurriculo > a:hover{
    color: white;
    background-color: rgb(51, 50, 50);
    border-radius: 10px;
}

.vagas{
    font-size: x-large;
    background-color: black;
    padding-bottom: 3px;
    border-radius: 5px;
}