* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	height:100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height:100%;
	font-family: 'Montserrat', sans-serif;
}

/* INÍCIO DA TERCEIRA LINHA - MENU DE BUSCA */

.buscadecandidato {
    padding: 20px;
	display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #333a40;
    font-size: 18px;
    color:#ffffff;
    font-weight: bold;
}

.buscadecandidato p {
    margin: 0 0px 0 65px;
}
.estadocidade {
    font-size: 16px;
    border: 1px solid #3c3f44;
    width: 300px;
    height: 31px;
}

.funcao {
    color: #3c3f44;
    border-radius: 5px;
    width: 230px;
    height: 31px;
    font-size: 16px;
}


/* FIM DA TERCEIRA LINHA */

/* INÍCIO DA DIV COM O RESULTADOS DA BUSCA */

.container {
    margin: 40px auto 20px auto;

}

main {
    display: flex;
    flex-direction: column;
}
#resultado{
    color: #3c3f44;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
    font-weight: bold;
}

.candidato{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(23,162, 184, 0.3);
    color: #3c3f44;
    font-size: 12px;
}

.candidato img{
    width: 180px;
    height: 230px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 90px;
    border: 2px solid white;
}

.candidato h3 {
    font-size: 14px;
    margin-bottom: -2px;
    margin-left: 5px;
}

.dados{
    margin-bottom: 5px;
    margin-top: -2px;
    margin-left: 5px;
    font-size: 16px;
}

.candidato a{
    color: #802A73;
    font-size: 18px;
    font-weight: bold;

}


.lado-lado {
	display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2);
	align-items: baseline;
    grid-gap: 15px;
}

.lado-lado>.candidato{
	padding: 10px;
}

.pagina {
    color: #3c3f44;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}

.footer{
    background-color: #802A73;
    color: #ffffff;
    height: 80px;
}

.footer p{
   padding-top: 25px;
   margin-left: 280px;
}

@media only screen and (max-width: 1015px){
    .lado-lado{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2);
        align-items: baseline;
        grid-gap: 15px;
    }

    .buscadecandidato {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        align-content: center;
        background-color: #3c3f44;
        font-size: 18px;
        color:#ffffff;
        font-weight: bold;
    }

    .buscadecandidato p {
        margin: 0;
    }

}

@media only screen and (max-width: 750px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .lado-lado{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2);
        align-items: baseline;
        grid-gap: 15px;
    }

}


@media only screen and (max-width: 520px) {
    .lado-lado{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2);
        align-items: baseline;
        grid-gap: 15px;
    }

}

@media only screen and (max-width: 300px) {
    .candidato{
        width: 100%;
    }

    .candidato img{
        width: 100%;
    }

    .estadocidade {
        width: 100%;
    }

    .funcao {
        width: 100%;
    }

    .lado-lado{
        width: 100%;
    }
}
